extends layout.pug

block content

  article.portfolio-intro.animate__animated.animate__zoomInLeft
    h1.animate__animated.animate__fadeIn.animate__delay-1s I Would Like To Help The Web Better Serve You!
    p.animate__animated.animate__fadeIn.animate__delay-1s This Portfolio shows how I can help in making the web suit your needs. These projects will demonstrate the proficiency of my skills. I import these skills from those attained as a professional Symphony Musician: the ability to work closely with others, tenacity  in problem solving, pursuit in the highest level of attained perfection and, the belief that every project should play as a performance.
  article.portfolio-project-thumbs.animate__animated.animate__zoomInRight
    .projects-box.box.grid
      each project in projects 
        .cell 
          a(href=`/projects/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}` alt=`Thumbnail  of ${project.project_name}` target='_blank')
            h5= project.project_name


